[Unit]
Description=An basic IRC bot for mapping Reddit to IRC
After=mutli-user.target
Requires=multi-user.target

[Service]
Type=simple
User=reddithaum
ExecStart=/home/reddithaum/reddithaum/systemd/run.sh
Restart=on-failure
RestartSec=3600

[Install]
WantedBy=multi-user.target
